#modal-username.modal(tabindex='-1', role='dialog',data-backdrop="static",data-keyboard="false")
  .modal-dialog(role='document')
    form#form-username.modal-content
      .modal-header
        h5.modal-title Set Username
      .modal-body
        .form-group
          label Username
          input.form-control(type="text", required)
          .invalid-feedback
      .modal-footer
        button.btn.btn-primary(type='submit') Save